@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+NKo+Unjoined:wght@600&family=Roboto:wght@100;400&display=swap');
// Global Colors
$black: #000000ff;
$violet-jtc: #502f4cff;
$chinese-violet: #70587cff;
$thistle: #c8b8dbff;
$snow: #f9f4f5ff;

$main-font: 'Roboto', sans-serif;
$test: 'Noto Sans NKo Unjoined', sans-serif;