@import '../../../styles/global.scss';
.navbar{
    width:100%;
    position: fixed top;
    background-color: $thistle;
    color: $snow;
    &__list{
    display: flex;
    padding: 5px;
    column-gap: 5rem;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    }
}
.items{
    text-decoration: none;
    color: $snow;
}
.navbar__btn{
    cursor: pointer;
    border-radius: 25px;
    border: 2px solid $chinese-violet;
    margin-right: 1rem;
    padding: 10px;
    color: $snow;
    background-color: $chinese-violet;
    transition: all 0.2s ease;
    &:hover{
        transform: scale(1.1);
    }
}
.collapser{
    display: none !important;
}
.slider{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: red;
    right: 0;
    display: flex;
    justify-content: center;
}
