.onFocusLabel{
    font-size: 0.8rem;
}

.floating-label{
    display: block;
}
.floating-input{
    height: 60px;
    border: 0;
    padding: 0.3rem;
    outline: 0;
}
.input{
    position: relative;
    border: 1px solid lightblue;
    border-radius: 15px;
    margin-top: 2rem;
    padding: 5px;
}